<!DOCTYPE html>
<html>
  <head>
    <title>Move Me There</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css">
	<link href="https://fonts.googleapis.com/css?family=Mada:300,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header id="top_header" class="clearfix">
  <div class="wrapper">
	<h1 class="logo"><a href="/">Move Me There</a></h1>
	<nav id="main_nav">
	  <a href="#">Home</a>
	  <a href="#">About</a>
	  <a href="#">Cities</a>
	  <a href="#">Contact</a>
  	</nav>
  </div>
  </header>
    <%= yield %>

    <footer id="main_footer">
    <p class="logo">Move Me There</p>
    <p class="copyright">&copy;2017 Move Me There. All Rights Reserved.</p>
    <div class="links">
    	<a href="#">Terms of Service</a>
    	<a href="#">Privacy Policy</a>
    </div>
    </footer>
  </body>
</html>
